<% if(errorLogin || errorRegister || error){ %> 
  <div class="alert alert-warning alert-dismissible show" role="alert" style="color: red; margin-bottom:15px; margin-left: 45px; margin-right: 45px;">
    <%= errorLogin || errorRegister || error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% }; %>