<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="public/styles/style.css">
        <title>A propos</title>
    </head>
    
    <body id="home" class="scrollspy">
      <!-- Navbar -->
      <div class="navbar-fixed">
        <nav class="blue">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">About US</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a href="/#search">Search</a>
                </li>
                <li>
                  <a href="/#popular">Popular distinations</a>
                </li>
                <li>
                  <a href="/#gallery">Gallery</a>
                </li>
                <li>
                  <a href="/#contact">Contact</a>
                </li>
                <li>
                    <a href="/aboutUs">About US</a>
                </li>
                <% if (logout) { %>
                  <li>
                      <a href="/profile"> profile </a>
                  </li>
                <% }  %>
                <li>
                    <% if (logout) { %>
                      <a href="/logout"> Logout </a>
                      <% } else { %>
                      <a href="/login"> Sign In </a>
                      <% }%>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-nav">
        <li>
          <a href="/#search">Search</a>
        </li>
        <li>
          <a href="/#popular">Popular distinations</a>
        </li>
        <li>
          <a href="/#gallery">Gallery</a>
        </li>
        <li>
          <a href="/#contact">Contact</a>
        </li>
        <li>
          <a href="/aboutUs">About US</a>
        </li>
        <% if (logout) { %>
          <li>
              <a href="/profile"> profile </a>
          </li>
        <% }  %>
        <li>
            <% if (logout) { %>
              <a href="/logout"> Logout </a>
              <% } else { %>
              <a href="/login"> Sign In </a>
              <% }%>
        </li>
      </ul>
      <h3>
        <center>
        Qui sommes-nous?
      </center>
      </h3>
      <section class="slider">
        <ul class="slides">
          <li>
            <img src="images/avion1.jpg">
            <div class="caption center-align">
              <h1>Les meilleures décisions de voyage se prennent avec Let's travel.</h1>
              
            </div>
          </li>
          <li>
            <img src="images/avion2.jpg"> 
            <div class="caption left-align">
              <h1>Le coût économique pour votre voyage</h1>
              
            </div>
         
          </ul>
      </section>
    
      <section id="aboutus" class="section">
        <div class="card" style="width: 95%; margin-left: 20px;">
                  <div class="card-title" id="aboutus">
                     
                  </div>
                  <div class="card-body">
                  <div class="card-exceprt">
                      <p>Aujourd’hui, nous traitons plus de 2 milliards de recherches annuelles et aidons des millions de voyageurs dans le monde entier à être sûrs de leurs décisions. 
                      </p> 
                    <p>
                        Let's travel est l'un des plus gros vendeurs en ligne de billets d'avion en France et propose le plus large choix d'offres de vols, aux meilleurs prix et au départ de villes du monde entier. 
                        <br><br>
                        Let's travel propose la plus vaste gamme de produits sur le marché et référence tous les tarifs (publics et négociés) rendus disponibles par plus de 610 compagnies aériennes. 
                        <br>
                        Les équipes de Let's travel collaborent avec des experts en négociation depuis 2019 afin d'obtenir les tarifs les plus compétitifs du marché auprès de nos partenaires et d'offrir ainsi les prix les plus bas possibles à nos clients.                
                        <br><br>
                        Chaque année Let's Travel négocie plus d’un million de tarifs en direct auprès des compagnies aériennes.
                        <br><br>
                        <b>Vols:</b>  Let's travel dispose de l’offre la plus complète du marché et répertorie les disponibilités et l’ensemble des tarifs (publics ou négociés) de plus 500 compagnies aériennes. Let's travel affrète également des vols charters spéciaux et déstocke l’offre charter des plus grands Tours Opérateurs français.
                        
                        <br><br>
                        
                        <br><br>
                       <b> Nous sommes disponibles à tout moment</b>
                        <br><br>
                        Vous souhaitez modifier votre vol ou avez des questions relatives à votre réservation? Chez Let's travel nous travaillons pour que votre voyage se déroule au mieux et comme vous l'aviez prévu. Nous sommes à votre disposition si vous avez besoin d'assistance.
                         
                         
                        <br><br>
                       <b> Retour clients</b>
                        <br><br>
                        Nous travaillons constamment pour améliorer notre site web et service. Vos commentaires contribuent à cela !
                        
                        <br><br>
                  
                        <br><br>
                         <button type="button" class="btn btn-primary">
                            Nous sommes à votre écoute
                        </button>
                        
                        <br><br>
                        Si vous avez soumis une réclamation auprès de notre Service Client, mais que notre réponse ne vous satisfait pas : vous pouvez contacter la Médiation Tourisme et Voyage. 
                        <br><br>
                        Les coordonnées et modalités de saisine du médiateur sont disponibles sur le site www.mtv.travel. Vous pouvez également faire appel au site de règlement en ligne des litiges élaboré par la commission européenne.
                        
                      </p>
                  </div>
              </div>
          </a>
      </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.2638593557685!2d2.2819520514520817!3d48.891308379189184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f65519599ab%3A0x648913b6b58c1316!2sIMIE+Paris!5e0!3m2!1sfr!2sfr!4v1559920222070!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

      
     


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      //Sidenav
      const sideNav = document.querySelector('.sidenav');
      M.Sidenav.init(sideNav, {});

      // slider
      const slider = document.querySelector('.slider');
      M.Slider.init(slider, {
        indicators: false,
        height: 500,
        transition: 100,
        interval: 5000
      })


      // Material Boxed

      const mb = document.querySelectorAll('.materialboxed');
      M.Materialbox.init(mb, {});

    </script>
    </body>
</html>
