<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/style.css">
    <style>
      #footer {
        margin-top: 500px;
      } 
      #pageContent{
        margin-top: 100px; 
      }
      #testTable{
          height : 100px;
      }

      body {
        font-family: sans-serif;
        background-color: #dedede;
        color: #333;
        }

      img {
        max-width: 100%;
        height: auto;
      }

      .app-title {
        text-align: center;
        font-weight: normal;
        font-size: 2.6rem;
      }

      .divOffer {
        max-width: 850px;
        padding: 1px;
        margin: 30px auto;
        background-color: rgba(255, 255, 255, 0.823);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }

      .divOffer h4 {
        margin: 0 0 6px 0;
      }

      .flightLogo {
        float: left;
        width: 15%;
        margin-right: 15px;
      }
    </style>
    <title>Let's Travel</title>
  </head>
    
  <body id="bookingDataRT" class="scrollspy">
        <!-- Navbar -->
      <div class="navbar-fixed">
        <nav class="blue">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Let's Travel</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a href="/#search">Search</a>
                </li>
                <li>
                  <a href="/#popular">Popular distinations</a>
                </li>
                <li>
                  <a href="/#gallery">Gallery</a>
                </li>
                <li>
                  <a href="/#contact">Contact</a>
                </li>
                <li>
                    <a href="/aboutUs">About US</a>
                </li>
                <% if (logout) { %>
                  <li>
                      <a href="/profile"> profile </a>
                  </li>
                <% }  %>
                <li>
                  <% if (logout) { %>
                    <a href="/logout"> Logout </a>
                    <% } else { %>
                    <a href="/login"> Sign In </a>
                  <% }%>
                  <!-- <a href="Login_page/login.html">Login/Sign in</a> -->
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-nav">
        <li>
          <a href="/#search">Search</a>
        </li>
        <li>
          <a href="/#popular">Popular distinations</a>
        </li>
        <li>
          <a href="/#gallery">Gallery</a>
        </li>
        <li>
          <a href="/#contact">Contact</a>
        </li>
        <li>
            <a href="/aboutUs">About US</a>
        </li>
        <% if (logout) { %>
          <li>
              <a href="/profile"> profile </a>
          </li>
        <% }  %>
        <li>
          <% if (logout) { %>
            <a href="/logout"> Logout </a>
            <% } else { %>
            <a href="/login"> Sign In </a>
            <% } %>
        </li>
      </ul>


    <section class="pricing py-5">
      <div class="container">
        <div class="row">
          <form action="/optionsTicket" method="GET">
            <div id="myData"> </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer id="footer" class="section blue darken-2 white-text center">
      <p class="folw-text">Let's Travel &copy; 2019</p>
    </footer>


        <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
    //Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    // Scrollspy
    const scrollSpy = document.querySelectorAll('.scrollspy');
    M.ScrollSpy.init(scrollSpy, {});
    
  
          var overlay = document.getElementById("overlay");
      window.addEventListener('load', function(){
          setTimeout(() => {
              overlay.style.display = 'none';
          }, 2000);
      })

  // ---------------------------------------------------------------------------------------------//
          

  // $.ajax({
  //   url: 'http://localhost:3000/api/search',
  //   type: 'GET' // this is default, but worth pointing out
  // }).done(function(data){
  //   console.log('AAAAAAAAA: ', data);
  //   console.log('TestZobiiiiiiiiiiida : ', data.flightProducts[0] )




  // });

  var ticketJson = [];
  var searchData = JSON.parse(localStorage.getItem('searchData'));
  

    var thisData =  JSON.parse(localStorage.getItem('dataRetour'));

    var mainContainer = document.getElementById("myData");

    mainContainer.innerHTML = 
    `<h1 class="app-title">We have found (${thisData.length} results)</h1>
      `

  for (var i = 0; i < thisData.length; i++) {
    
    if (thisData[i].connections[0].segments.length > 1 ){



var origCity1 = thisData[i].connections[0].segments[0].origin.city.name;
var origCode1 = thisData[i].connections[0].segments[0].origin.city.code;
var destCity1 = thisData[i].connections[0].segments[0].destination.city.name;
var destCode1 = thisData[i].connections[0].segments[0].destination.city.code;
var origAirp1 = thisData[i].connections[0].segments[0].origin.name;
var origAirpCode1 = thisData[i].connections[0].segments[0].origin.code;
var destAirp1 = thisData[i].connections[0].segments[0].destination.name;
var destAirpCode1 = thisData[i].connections[0].segments[0].destination.code;
var arrDate1 = thisData[i].connections[0].segments[0].arrivalDateTime.split('T').join('  ');
var depDate1 = thisData[i].connections[0].segments[0].departureDateTime.split('T').join('  ');

var origCity2 = thisData[i].connections[0].segments[1].origin.city.name;
var origCode2 = thisData[i].connections[0].segments[1].origin.city.code;
var destCity2 = thisData[i].connections[0].segments[1].destination.city.name;
var destCode2 = thisData[i].connections[0].segments[1].destination.city.code;
var origAirp2 = thisData[i].connections[0].segments[1].origin.name;
var origAirpCode2 = thisData[i].connections[0].segments[1].origin.code;
var destAirp2 = thisData[i].connections[0].segments[1].destination.name;
var destAirpCode2 = thisData[i].connections[0].segments[1].destination.code;
var arrDate2 = thisData[i].connections[0].segments[1].arrivalDateTime.split('T').join('  ');
var depDate2 = thisData[i].connections[0].segments[1].departureDateTime.split('T').join('  ');

var totalPrice = thisData[i].price.totalPrice;
var duration = thisData[i].connections[0].duration;

var ticketData = [origCity1, origCode1, destCity1, destCode1, origAirp1, origAirpCode1, arrDate1, depDate1, origCity2, origCode2, destCity2, destCode2, origAirp2, origAirpCode2, arrDate2, depDate2, totalPrice, duration, true];
ticketJson.push(ticketData);


var div = document.createElement("div");
div.innerHTML = `
<center> <h4> your flight contains a stopover </h4> </center>

  <div class="divOffer">
      <i class="fas fa-plane-departure medium"></i> 
  <div class="row">
    <div class="col s12 m6 l2"> </div>
    <div class="col s12 m4 l8"> </div>
    <div class="col s12 m4 l2"> </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3"><h5> Air France </h5></div>
    <div class="col s12 m6 l3"><h5> ${origCity1} </h5></div>
    <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
    <div class="col s12 m6 l3"><h5> ${destCity1} </h5></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"> </div>
    <div class="col s12 m6 l3"><small> ${origAirp1} (${origAirpCode1}) </small></div>
    <div class="col s11 m6 l3"></div>
    <div class="col s12 m6 l3"><small> ${destAirp1} (${destAirpCode1}) </small></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"><h5> ${totalPrice} EUR </h5></div>
    <div class="col s12 m6 l3"> ${depDate1} </div>
    <div class="col s11 m6 l3">${arrDate1}</div>
    <div class="col s12 m6 l3"> ${duration} </div>
  </div> 


  <div class="row">
    <div class="col s12 m6 l3"><h5> Air France </h5></div>
    <div class="col s12 m6 l3"><h5> ${origCity2} </h5></div>
    <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
    <div class="col s12 m6 l3"><h5> ${destCity2} </h5></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"> </div>
    <div class="col s12 m6 l3"><small> ${origAirp2} (${origAirpCode2}) </small></div>
    <div class="col s11 m6 l3"></div>
    <div class="col s12 m6 l3"><small> ${destAirp2} (${destAirpCode2}) </small></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"> ${depDate2} </div>
    <div class="col s11 m6 l3">${arrDate2}</div>
  </div> 

  <div class="col s12 offset-s10"><button class="btn-small waves-effect waves-light" id="${i}" type="submit" onclick="reply_click(this.id)"> Submit <i class="material-icons right">send</i></button></div>


    `;

    mainContainer.appendChild(div);  


} 
else {

var origCity = thisData[i].connections[0].segments[0].origin.city.name;
var origCode = thisData[i].connections[0].segments[0].origin.city.code;
var destCity = thisData[i].connections[0].segments[0].destination.city.name;
var destCode = thisData[i].connections[0].segments[0].destination.city.code;
var origAirp = thisData[i].connections[0].segments[0].origin.name;
var origAirpCode = thisData[i].connections[0].segments[0].origin.code;
var destAirp = thisData[i].connections[0].segments[0].destination.name;
var destAirpCode = thisData[i].connections[0].segments[0].destination.code;
var arrDate = thisData[i].connections[0].segments[0].arrivalDateTime.split('T').join('  ');
var depDate = thisData[i].connections[0].segments[0].departureDateTime.split('T').join('  ');
var totalPrice = thisData[i].price.totalPrice;
var duration = thisData[i].connections[0].duration;

var ticketData = [origCity, origCode, destCity, destCode, origAirp, origAirpCode, arrDate, depDate, totalPrice, duration, false];
ticketJson.push(ticketData);

var div = document.createElement("div");
div.innerHTML = `

  <div class="divOffer">
      <i class="fas fa-plane-departure medium"></i> 
  <div class="row">
    <div class="col s12 m6 l2"> </div>
    <div class="col s12 m4 l8"> </div>
    <div class="col s12 m4 l2"> </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3"><h5> Air France </h5></div>
    <div class="col s12 m6 l3"><h5> ${origCity} </h5></div>
    <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
    <div class="col s12 m6 l3"><h5> ${destCity} </h5></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"> </div>
    <div class="col s12 m6 l3"><small> ${origAirp} (${origAirpCode}) </small></div>
    <div class="col s11 m6 l3"></div>
    <div class="col s12 m6 l3"><small> ${destAirp} (${destAirpCode}) </small></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"><h5> ${totalPrice} EUR </h5></div>
    <div class="col s12 m6 l3"> ${depDate} </div>
    <div class="col s11 m6 l3">${arrDate}</div>
    <div class="col s12 m6 l3"> ${duration} </div>
  </div> 

  <div class="col s12 offset-s10"><button class="btn-small waves-effect waves-light" id="${i}" type="submit" onclick="reply_click(this.id)"> Submit <i class="material-icons right">send</i></button></div>


    `;

    mainContainer.appendChild(div);  
}
}


function reply_click(clicked_id){
  localStorage.setItem('ticketRetour', JSON.stringify(ticketJson[clicked_id]));
}

    </script>
  </body>
</html>
