<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="public/styles/style.css">
  <style>
  .autocomplete-wrapper {
    position: relative;
  }
  .autocomplete-wrapper input {
    width: 100%;
  }

  .autocomplete-results {
    position: absolute;
    background: rgb(126, 176, 238);
    z-index: 1;
    top: 100%;
    left: 0;
    font-size: 13px;
    border: solid 1px #ddd;
    border-top-width: 0;
    border-bottom-color: #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .autocomplete-result {
    padding: 12px 15px;
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }

  .autocomplete-result:last-child {
    border-bottom-width: 0;
  }

  .autocomplete-location {
    opacity: .8;
    font-size: smaller;
  }

  .autocomplete-results[data-highlight='0'] > :nth-child(1) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
  }

  .autocomplete-results[data-highlight='1'] > :nth-child(2) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
  }

  .autocomplete-results[data-highlight='2'] > :nth-child(3) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
  }

  .autocomplete-results[data-highlight='3'] > :nth-child(4) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
  }

  .autocomplete-results[data-highlight='4'] > :nth-child(5) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
  }

  .autocomplete-results[data-highlight='5'] > :nth-child(6) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
  }

  .autocomplete-results[data-highlight='6'] > :nth-child(7) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
  }

  .autocomplete-results[data-highlight='7'] > :nth-child(8) {
    color: white;
    background: #26C9FF;
    border-bottom-color: #26C9FF;
    outline: solid 1px #00b6f2;
  }

  </style>
      <title>Let's Travel</title> 
  </head>
  
  <body id="home" class="scrollspy">
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="blue">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Let's Travel</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="#search">Search</a>
              </li>
              <li>
                <a href="#popular">Popular distinations</a>
              </li>
              <li>
                <a href="#gallery">Gallery</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
              <li>
                  <a href="/aboutUs">About US</a>
              </li>
              <% if (logout) { %>
                <li>
                    <a href="/profile"> profile </a>
                </li>
              <% }  %>
              <li>
                <% if (logout) { %>
                  <a href="/logout"> Logout </a>
                  <% } else { %>
                  <a href="/login"> Sign In </a>
                  <% }%>
                <!-- <a href="Login_page/login.html">Login/Sign in</a> -->
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-nav">
      <li>
        <a href="#search">Search</a>
      </li>
      <li>
        <a href="#popular">Popular distinations</a>
      </li>
      <li>
        <a href="#gallery">Gallery</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
      <li>
        <a href="/aboutUs">About US</a>
      </li>
      <% if (logout) { %>
      <li>
          <a href="/profile"> profile </a>
      </li>
      <% }  %>
      <li>
        <% if (logout) { %>
          <a href="/logout"> Logout </a>
          <% } else { %>
          <a href="/login"> Sign In </a>
          <% }%>
      </li>
    </ul>

    <!-- Section Slider -->
    <section class="slider">
      <ul class="slides">
        <li>
          <img src="../images//travel.jpg">
          <div class="caption center-align">
            <h3>Let's Travel company !</h3>
            <h5 class="light grey-text text-lighten-3">Welcome to Let's Travel</h5>
          </div>
        </li>
        <li>
          <img src="../images/architecture.jpg"> 
          <div class="caption left-align">
            <h3>Let's travel now !</h3>
            <h5 class="light grey-text text-lighten-3">
              The best travels & the best prices
            </h5>
          </div>
        </li>
        <li>
          <img src="../images/avion - Copie.jpg"> 
          <div class="caption right-align">
            <h3>Let's Travel</h3>
            <h5 class="light grey-text text-lighten-3"> We can offer the best service </h5>
          </div>
        </li>
        <li>
          <img src="../images/cuba.jpg"> 
          <div class="caption center-align">
            <h3>Now ! With Let's Travel </h3>
            <h5 class="light grey-text text-lighten-3"> You can travel the word </h5>
          </div>
        </li>
        </ul>
    </section>

    <!-- Section: Search -->
    <section id="search" class="section section-search blue darken-1 white-text center scrollspy">
      <div class="container">
        <form action="/search" method="POST">
          <div class="row">
            <div class="col s12">
              <h3>Search destinations</h3>
              <div class="input-field">
                <input type="text" class="white grey-text autocomplete" id="autocomplete-input" placeholder="Paris, Tamazirt, etc...">  
              </div>
            </div>
            
            <div class="col s12 m4 l2"> <input type="date" name="date" class="datepicker" required> </div>
            <div class="col s12 m4 l8"> <input type="text" placeholder="Departure" name="departure" id="autocomplete" class="white grey-text autocomplete" required> </div>
            <div class="col s12 m4 l2"> <input type="text" placeholder="Destination" name="destination" id="autocomplete2" required> </div>
            <div class="col s12 m4 l2" style="display:none;" id="roundTrip"> <input type="date" name="dateRetour" class="datepicker"> </div>
            <div class="col s12 m4 l2"> <input type="number" placeholder="Child" name="child" value="0"> </div>
            <div class="col s12 m4 l2"> <input type="number" placeholder="Adult" name="adult" value="1" required> </div>


            <!-- Switch -->  
            <div class="switch" style="position:absolute;">   <!--left: 65em;top: 55em-->
              <h5>Round-trip</h5>
              <label class="">
                Off
                <input type="checkbox" name="roundTripCheck" id="switchDate" unchecked onclick="showDivRoundTrip()">
                <span class="lever"></span>
                On
              </label>
            </div>
          
          </div>
          <button class="btn waves-effect blue" type="submit" onclick="storeData()" style="margin-right: 90%">Search</button>
          <div style="margin-top: 5%">
            <% include ./partials/messages %>
          </div>
        </form>
      </div>
    </section>





    <!-- <div class="parallax-container">
        <div class="parallax"><img src="/images/cafe.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header">Parallax</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="/images//hamburg.jpg"></div>
      </div>

      <script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });
      </script>
           -->


    <!-- Section: Icon Boxes -->

    <section class="section section-icons grey lighten-4 center">
      <div class="container">
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel">
              <i class="material-icons large blue-text">airplanemode_active</i>
              <h4>Fly Cheap</h4>
              <p> We offer you the cheapest travel .</p>
            </div>
          </div>
          <div class="col s12 m4">
              <div class="card-panel">
                <i class="material-icons large blue-text">store</i>
                <h4>guaranteed trip</h4>
                <p> We guarantee you your trip.</p>
              </div>
          </div>
          <div class="col s12 m4">
              <div class="card-panel">
                <i class="material-icons large blue-text">room</i>
                <h4>availability</h4>
                <p> For all where you are we will be at your disposal.</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Popular Places -->

    <section id="popular" class="section section-popular scrollspy">
      <div class="container">
        <div class="row">
          <h4 class="center"><span class="blue-text">Popular Places</span> </h4>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="../images/paris.jpg" alt="">
                <span class="card-title">Paris</span>
              </div>
              <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.i.
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="../images/oia.jpg" alt="">
                <span class="card-title">Spain</span>
              </div>
              <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.i.
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="../images/cafe.jpg" alt="">
                <span class="card-title">Tanger</span>
              </div>
              <div class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.i.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Follow us -->

    <section class="section section-follow blue darken-2 white-text center">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h4>Follow Let's Travel</h4>
            <p>Follow us on social media for spacial offers</p>
            <a href="#" class="white-text">
                <i class="fab fa-facebook-square medium"></i>
            </a>
            <a href="#" class="white-text">
                <i class="fab fa-twitter medium"></i>
            </a>
            <a href="#" class="white-text">
                <i class="fab fa-linkedin medium"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Gallery -->

    <section id="gallery" class="section section-gallery scrollspy">
      <div class="container">
        <h4 class="center">
          <span class="blue-text">Photo</span> Gallery
        </h4>
        <div class="row">
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?beach" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?travel" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?nature" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?beach,travel" alt="" class="materialboxed responsive-img">
            </div>
        </div>

        <div class="row">
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?water" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?building" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?trees" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?cruise" alt="" class="materialboxed responsive-img">
            </div>
        </div>

        <div class="row">
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?beaches" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?traveling" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?bridge" alt="" class="materialboxed responsive-img">
          </div>
          <div class="col s12 m3">
            <img src="https://source.unsplash.com/1600x900/?travel,boat" alt="" class="materialboxed responsive-img">
            </div>
        </div>
      </div>
    </section>

    <!-- Section: Contact -->
    <section id="contact" class="section section-contact scrollspy">
      <form id="formContact" action="/contact" method="POST">
        <div class="container">
          <div class="row">
            <div class="col s12 m6">
              <div class="card-panel blue white-text center">
                <i class="material-icons">email</i>
                <h5>Contact us for more informations</h5>
                <p>Lorem ipsum dolor  ullam nisi, deserunt quidem 
                  sed quis voluptatum alias nobis iusto voluptatem recusandae esse eum magni nam?
                </p>

              </div>
              <ul class="collection with-header">
                <li class="collection-header"><h4>location</h4></li>
                <li class="collection-item">Let's Travel Agency</li>
                <li class="collection-item">15 rue adresse code postale</li>
                <li class="collection-item">Paris, France</li>
              </ul>
            </div>
            <div class="col s12 m6">
              <dev class="card-content grey lighten-3">
                <h5>Please fill out this form</h5>
                <div class="input-field">
                  <i class="material-icons prefix">account_circle</i>
                  <input type="text" placeholder="Name" name="name" required>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">email</i>
                  <input type="email" placeholder="Email" name="email" required>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">phone</i>
                  <input type="text"  placeholder="Phone" name="phone" required>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">message</i>
                  <input type="text" class="materialize-textarea" placeholder="Enter Message" name="message" required></textarea>
                </div>
                <input type="submit" value="Submit" id="test" class="btn blue">
                <div class="alert alert-warning alert-dismissible show" id="messageErr" role="alert" style="color: red; margin-top: 10px"> </div>
              </dev>
            </div>
          </div>
        </div>
      </form>
    </section>
    <!-- Footer -->

    <footer class="section blue darken-2 white-text center">
      <p class="folw-text">Let's Travel &copy; 2019</p>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://unpkg.com/fuse.js@2.5.0/src/fuse.min.js'></script>
    <script src='https://screenfeedcontent.blob.core.windows.net/html/airports.js'></script>

    <script>

      
function cmp (ac, fuse, options){
  ac 
  .on('click', function(e) {
    e.stopPropagation();
  })
  .on('focus keyup', search)
  .on('keydown', onKeyDown);

var wrap = $('<div>')
  .addClass('autocomplete-wrapper')
  .insertBefore(ac)
  .append(ac);

var list = $('<div>')
  .addClass('autocomplete-results')
  .on('click', '.autocomplete-result', function(e) {
    e.preventDefault();
    e.stopPropagation();
    selectIndex($(this).data('index'));
  })
  .appendTo(wrap);

$(document)
  .on('mouseover', '.autocomplete-result', function(e) {
    var index = parseInt($(this).data('index'), 10);
    if (!isNaN(index)) {
      list.attr('data-highlight', index);
    }
  })
  .on('click', clearResults);

function clearResults() {
  results = [];
  numResults = 0;
  list.empty();
}

function selectIndex(index) {
  if (results.length >= index + 1) {
    ac.val(results[index].iata);
    clearResults();
  }  
}

var results = [];
var numResults = 0;
var selectedIndex = -1;

function search(e) {
  if (e.which === 38 || e.which === 13 || e.which === 40) {
    return;
  }
  
  if (ac.val().length > 0) {
    results = _.take(fuse.search(ac.val()), 7);
    numResults = results.length;
    
    var divs = results.map(function(r, i) {
        return '<div class="autocomplete-result" data-index="'+ i +'">'
             + '<div><b>'+ r.iata +'</b> - '+ r.name +'</div>'
             + '<div class="autocomplete-location">'+ r.city +', '+ r.country +'</div>'
             + '</div>';
     });
    
        selectedIndex = -1;
        list.html(divs.join(''))
          .attr('data-highlight', selectedIndex);

      } else {
        numResults = 0;
        list.empty();
      }
    }

    function onKeyDown(e) {
      switch(e.which) {
        case 38: // up
          selectedIndex--;
          if (selectedIndex <= -1) {
            selectedIndex = -1;
          }
          list.attr('data-highlight', selectedIndex);
          break;
        case 13: // enter
          selectIndex(selectedIndex);
          break;
        case 9: // enter
          selectIndex(selectedIndex);
          e.stopPropagation();
          return;
        case 40: // down
          selectedIndex++;
          if (selectedIndex >= numResults) {
            selectedIndex = numResults-1;
          }
          list.attr('data-highlight', selectedIndex);
          break;

        default: return; // exit this handler for other keys
      }
      e.stopPropagation();
      e.preventDefault(); // prevent the default action (scroll / move caret)
    }
}

  var options = {
  shouldSort: true,
  threshold: 0.4,
  maxPatternLength: 32,
  keys: [{
    name: 'iata',
    weight: 0.5
  }, {
    name: 'name',
    weight: 0.3
  }, {
    name: 'city',
    weight: 0.2
  }]
};

var fuse = new Fuse(airports, options)


var ac = $('#autocomplete');
cmp(ac, fuse, options);

var ac2 = $('#autocomplete2');
cmp(ac2, fuse, options);


    </script>
      
          <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      //Sidenav
      const sideNav = document.querySelector('.sidenav');
      M.Sidenav.init(sideNav, {});

      // slider
      const slider = document.querySelector('.slider');
      M.Slider.init(slider, {
        indicators: false,
        height: 500,
        transition: 500,
        interval: 3000
      })

      // Autocomplete 

      const acc = document.querySelector('.autocomplete');
      M.Autocomplete.init(acc, {
        data: {
          "Contact": null,
          "Casablanca": null,
          "Paris": null,
          "Madrid": null,
          "Rabat": null,
          "Marrakech": null
        }
      });

      // Material Boxed

      const mb = document.querySelectorAll('.materialboxed');
      M.Materialbox.init(mb, {});

      // Scrollspy

      const scrollSpy = document.querySelectorAll('.scrollspy');
      M.ScrollSpy.init(scrollSpy, {});
      
      // Display DivRoundTrip

      function showDivRoundTrip() {
        if(document.getElementById('switchDate').checked){
          document.getElementById('roundTrip').style.display = "block";
        } else {
          document.getElementById('roundTrip').style.display = "none";
        }
      }

      // store search data
      var allerRetour = false;

      function storeData(){
      var departure = document.getElementsByName('departure')[0].value;
      var destination = document.getElementsByName('destination')[0].value;
      var child = document.getElementsByName('child')[0].value;
      var adult = document.getElementsByName('adult')[0].value;
      var dateAller = document.getElementsByName('date')[0].value;

      var searchData = [departure, destination, child, adult, dateAller];

      if (document.getElementById('switchDate').checked){
        var dateREtour = document.getElementsByName('dateRetour')[0].value;
        searchData.push(dateREtour);
        allerRetour = true;
        localStorage.setItem('allerRetourInit', allerRetour);
      } else {
          localStorage.removeItem('allerRetourInit');
          localStorage.removeItem('allerRetour');
      }

      localStorage.setItem('searchData',JSON.stringify(searchData));
    }

// function submitDataContact(){
//     let url="http://localhost:3000/contact";
//         fetch(url).then(response => response.json())
//         .then( (result) => {
//             console.log('success:', result)
//             let div=document.getElementById('test');
//             div.innerHTML=` <br/>message: ${result.message}`;
//         })
//         .catch(error => console.log('error:', error));
//       }


  $(function () {
    
      $("#test").click(function(e) {
      e.preventDefault()

        $.ajax({
            url: "http://localhost:3000/contact",
            type: 'POST',
            data: {
              name: $("input[name='name']").val(),
              email: $("input[name='email']").val(),
              phone: $("input[name='phone']").val(),
              message: $("input[name='message']").val()
            }
        }).done(function(data) {

          let div=document.getElementById('messageErr');

            if(data.status === 200) {
              alert( " THANK YOU "); 
              div.style.color = 'green'; 
              div.innerHTML=` ${data.message} `;
              $('#formContact').find('input:text').val('');
              $('#formContact').find('input:submit').val('retry ?');

            } 
            else {
              div.innerHTML=`${data.message}`;
           }
        })
    })

});
// $.post( "/contact", function(loginData) {

// })
//   .done(function(data) {
//       if(data.status === 200) {
//         alert( "Data : " + data.message );
//           console.log('it works !!');
//           console.log(data);

//       } else {
//           console.log('message : ',  data)
//         alert( "Data Loaded: " + data.message );

//       }
//   })
//   .fail(function() {
//       //error (bad connection)
//       console.log('ErRRRRRRRR')
// });




    </script>
    </body>
</html