<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag -------------->


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="cotn_principal">
    <div class="cont_centrar ">

        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">

                        <h2>LOGIN</h2>
                        <p></p>
                        <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>SIGN UP</h2>


                        <p></p>

                        <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                    </div>
                </div>
            </div>


            <div class="cont_back_info">


            </div>
            <div class="cont_forms">

                <form class="cont_form_login" id="formLogin" action="/signIn" method="POST">
                    <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons"></i></a>
                    <h2>LOGIN</h2>

                    <input type="email" name="username" placeholder="Email" required/>
                    <input type="password" name="password" placeholder="Password" required/>
                    <button class="btn_login" onclick="cambiar_login()" id="clik">LOGIN</button>
                    <% if (errorLogin){ %>
                    <% include ./partials/messages %>
                    <% } %>
                               
                      <button class="loginBtn loginBtn--google">
                        Login with Google
                      </button>

                
                </form>

                <form class="cont_form_sign_up" id="formRegister" action="/register" method="POST">
                    <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons"></i></a>
                    <h2>SIGN UP</h2>

                    <fieldset data-role="controlgroup">
                        <legend>Choose your gender:</legend>
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="male" value="male" checked>
                        <label for="female">Female</label>
                        <input type="radio" name="gender" id="female" value="female">
                    </fieldset>


                    <input type="text" name="lastName" placeholder="Last name" required/>
                    <input type="text" name="firstName" placeholder="First name" required/>
                    <input type="email" name="email" placeholder="E-mail address" required/>
                    <input type="email" name="confirmEmail" placeholder="confirm your e-mail address" required/>
                    <input type="password" name="password" placeholder="Password" required/>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" required/>

                    <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                    <script> var active, success = false; </script>
                    <% if (errorRegister && errorRegister !== "OK"){ %>
                        <script>
                            active = true;
                        </script>
                    <% include ./partials/messages %>
                    <% } else if(errorRegister == "OK") { %> 
                        <script>
                        setTimeout(function(){
                            window.alert('Thank you for your registration, you will receive an email');
                        }, 1000)  
                        </script>
                        <% } %>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    /* ------------------------------------ Click on login and Sign Up to  changue and view the effect                                                      ---------------------------------------
     */

    if(active){
        document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
        document.querySelector('.cont_form_sign_up').style.display = "block";

        setTimeout(function() {
            document.querySelector('.cont_form_sign_up').style.opacity = "1";
        }, 300);
    }
    else {
        document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";
        document.querySelector('.cont_form_login').style.display = "block";

        setTimeout(function() {
            document.querySelector('.cont_form_login').style.opacity = "1";
        }, 300);

    }

    function cambiar_login() {
        document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";
        document.querySelector('.cont_form_login').style.display = "block";
        document.querySelector('.cont_form_sign_up').style.opacity = "0";

        setTimeout(function() {
            document.querySelector('.cont_form_login').style.opacity = "1";
        }, 400);

        setTimeout(function() {
            document.querySelector('.cont_form_sign_up').style.display = "none";
        }, 200);
    }

    function cambiar_sign_up(at) {
        document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
        document.querySelector('.cont_form_sign_up').style.display = "block";
        document.querySelector('.cont_form_login').style.opacity = "0";

        setTimeout(function() {
            document.querySelector('.cont_form_sign_up').style.opacity = "1";
        }, 100);

        setTimeout(function() {
            document.querySelector('.cont_form_login').style.display = "none";
        }, 400);

    }



    function ocultar_login_sign_up() {

        document.querySelector('.cont_forms').className = "cont_forms";
        document.querySelector('.cont_form_sign_up').style.opacity = "0";
        document.querySelector('.cont_form_login').style.opacity = "0";

        setTimeout(function() {
            document.querySelector('.cont_form_sign_up').style.display = "none";
            document.querySelector('.cont_form_login').style.display = "none";
        }, 500);

    }
</script>

<style>
    /* ------------------------------------ Click on login and Sign Up to  changue and view the effect
---------------------------------------
*/
    
    * {
        margin: 0px auto;
        padding: 0px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .cotn_principal {
        position: absolute;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfd8dc+0,607d8b+100,b0bec5+100 */
        background: #cfd8dc;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #7f9db6 0%, #0f67da 100%, #86a4dd 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #7f9db6 0%, #0f67da 100%, #86a4dd 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #51a0e0 0%, #1d75e7 100%, #648fdf 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }
    
    .cont_centrar {
        position: relative;
        float: left;
        width: 100%;
    }
    
    .cont_login {
        position: relative;
        width: 640px;
        left: 50%;
        top: 120px;
        margin-left: -320px;
    }
    
    .cont_back_info {
        position: relative;
        float: left;
        width: 640px;
        height: 280px;
        overflow: hidden;
        background-color: #fff;
        margin-top: 100px;
        box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
    }
    
    .cont_forms {
        position: absolute;
        overflow: hidden;
        top: 100px;
        left: 0px;
        width: 320px;
        height: 280px;
        background-color: #eee;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .cont_forms_active_login {
        box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
        height: 420px;
        top: 20px;
        left: 0px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .cont_forms_active_sign_up {
        box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
        height: 420px;
        top: 20px;
        left: 320px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .cont_img_back_grey {
        position: absolute;
        width: 950px;
        top: -80px;
        left: -116px;
    }
    
    .cont_img_back_grey>img {
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.2;
        animation-name: animar_fondo;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    .cont_img_back_ {
        position: absolute;
        width: 950px;
        top: -80px;
        left: -116px;
    }
    
    .cont_img_back_>img {
        width: 100%;
        opacity: 0.3;
        animation-name: animar_fondo;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    .cont_forms_active_login>.cont_img_back_ {
        top: 0px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .cont_forms_active_sign_up>.cont_img_back_ {
        top: 0px;
        left: -435px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .cont_info_log_sign_up {
        position: absolute;
        width: 640px;
        height: 280px;
        top: 100px;
        z-index: 1;
    }
    
    .col_md_login {
        position: relative;
        float: left;
        width: 50%;
    }
    
    .col_md_login>h2 {
        font-weight: 400;
        margin-top: 70px;
        color: #757575;
        background: -moz-linear-gradient(-45deg, #e07d0b 0%, #5d316e 100%, #e07d0b 100%);
    }
    
    .col_md_login>p {
        font-weight: 400;
        margin-top: 15px;
        width: 80%;
        color: #37474F;
    }
    
    .btn_login {
        background-color: #26C6DA;
        border: none;
        padding: 10px;
        width: 200px;
        border-radius: 3px;
        box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
        color: #fff;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .col_md_sign_up {
        position: relative;
        float: left;
        width: 50%;
    }
    
    .cont_ba_opcitiy>h2 {
        font-weight: 400;
        color: #fff;
    }
    
    .cont_ba_opcitiy>p {
        font-weight: 400;
        margin-top: 15px;
        color: #fff;
    }
    /* ----------------------------------
background text    
------------------------------------
 */
    
    .cont_ba_opcitiy {
        position: relative;
        background-color: rgba(120, 144, 156, 0.55);
        width: 80%;
        border-radius: 3px;
        margin-top: 60px;
        padding: 15px 0px;
    }
    
    .btn_sign_up {
        background-color: #ef5350;
        border: none;
        padding: 10px;
        width: 200px;
        border-radius: 3px;
        box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
        color: #fff;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .cont_forms_active_sign_up {
        z-index: 2;
    }
    
    @-webkit-keyframes animar_fondo {
        from {
            -webkit-transform: scale(1) translate(0px);
            -moz-transform: scale(1) translate(0px);
            -ms-transform: scale(1) translate(0px);
            -o-transform: scale(1) translate(0px);
            transform: scale(1) translate(0px);
        }
        to {
            -webkit-transform: scale(1.5) translate(50px);
            -moz-transform: scale(1.5) translate(50px);
            -ms-transform: scale(1.5) translate(50px);
            -o-transform: scale(1.5) translate(50px);
            transform: scale(1.5) translate(50px);
        }
    }
    
    @-o-keyframes identifier {
        from {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        to {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
        }
    }
    
    @-moz-keyframes identifier {
        from {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        to {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
        }
    }
    
    @keyframes identifier {
        from {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        to {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
        }
    }
    
    .cont_form_login {
        position: absolute;
        opacity: 0;
        display: none;
        width: 320px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .cont_forms_active_login {
        z-index: 2;
    }
    
    
    .cont_form_sign_up {
        position: absolute;
        width: 320px;
        float: left;
        opacity: 0;
        display: none;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .cont_form_sign_up>input {
        text-align: left;
        padding: 15px 5px;
        margin-left: 10px;
        margin-top: 20px;
        width: 260px;
        border: none;
        color: #757575;
    }
    
    .cont_form_sign_up>h2 {
        margin-top: 50px;
        font-weight: 400;
        color: #757575;
    }
    
    .cont_form_login>input {
        padding: 15px 5px;
        margin-left: 10px;
        margin-top: 20px;
        width: 260px;
        border: none;
        text-align: left;
        color: #757575;
    }
    
    .cont_form_login>h2 {
        margin-top: 110px;
        font-weight: 400;
        color: #757575;
    }
    
    .cont_form_login>a,
    .cont_form_sign_up>a {
        color: #757575;
        position: relative;
        float: left;
        margin: 10px;
        margin-left: 30px;
    }
    
    #formRegister, #formLogin{
        height: 400px;
        overflow-y: auto
    }


    /* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
</style>