<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="public/styles/style.css">

    <style>

        section.pricing {
        background: #007bff;
        background: linear-gradient(to right, #0062E6, #33AEFF);
        }
    
        .pricing .card {
        border: none;
        border-radius: 1rem;
        transition: all 0.2s;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }
    
        .pricing hr {
        margin: 1.5rem 0;
        }
    
        .pricing .card-title {
        margin: 0.5rem 0;
        font-size: 0.9rem;
        letter-spacing: .1rem;
        font-weight: bold;
        }
    
        .pricing .card-price {
        font-size: 3rem;
        margin: 0;
        }
    
        .pricing .card-price .period {
        font-size: 0.8rem;
        }
    
        .pricing ul li {
        margin-bottom: 1rem;
        }
    
        .pricing .text-muted {
        opacity: 0.7;
        }
    
        .pricing .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        opacity: 0.7;
        transition: all 0.2s;
        }
    
        /* Hover Effects on Card */
    
        @media (min-width: 992px) {
        .pricing .card:hover {
            margin-top: -.25rem;
            margin-bottom: .25rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
        }
        .pricing .card:hover .btn {
            opacity: 1;
        }
        }


        /* div ticket */

        #footer {
        margin-top: 500px;
      } 
      #pageContent{
        margin-top: 100px; 
      }
      #testTable{
          height : 100px;
      }

      body {
        font-family: sans-serif;
        color: #333;
        margin: 0;
        }

      img {
        max-width: 100%;
        height: auto;
      }

      .app-title {
        text-align: center;
        font-weight: normal;
        font-size: 2.6rem;
      }

      .divOffer {
        max-width: 850px;
        padding: 20px;
        margin: 30px auto;
        background-color: #dedede;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }

      .divOffer h4 {
        margin: 0 0 6px 0;
      }

      .flightLogo {
        float: left;
        width: 15%;
        margin-right: 15px;
      }
    </style>

    <title>Let's Travel</title>
    </head>
    
    <body id="optionsTicket" class="scrollspy">
        <!-- Navbar -->
        <div class="navbar-fixed">
          <nav class="blue">
            <div class="container">
              <div class="nav-wrapper">
                <a href="#" class="brand-logo">Let's Travel</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                  <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                  <li>
                    <a href="/#search">Search</a>
                  </li>
                  <li>
                    <a href="/#popular">Popular distinations</a>
                  </li>
                  <li>
                    <a href="/#gallery">Gallery</a>
                  </li>
                  <li>
                    <a href="/#contact">Contact</a>
                  </li>
                  <li>
                      <a href="/aboutUs">About US</a>
                  </li>
                  <% if (logout) { %>
                    <li>
                        <a href="/profile"> profile </a>
                    </li>
                  <% }  %>
                  <li>
                    <% if (logout) { %>
                      <a href="/logout"> Logout </a>
                      <% } else { %>
                      <a href="/login"> Sign In </a>
                      <% }%>
                    <!-- <a href="Login_page/login.html">Login/Sign in</a> -->
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
        <ul class="sidenav" id="mobile-nav">
          <li>
            <a href="/#search">Search</a>
          </li>
          <li>
            <a href="/#popular">Popular distinations</a>
          </li>
          <li>
            <a href="/#gallery">Gallery</a>
          </li>
          <li>
            <a href="/#contact">Contact</a>
          </li>
          <li>
              <a href="/aboutUs">About US</a>
          </li>
          <% if (logout) { %>
            <li>
                <a href="/profile"> profile </a>
            </li>
          <% }  %>
          <li>
            <% if (logout) { %>
              <a href="/logout"> Logout </a>
              <% } else { %>
              <a href="/login"> Sign In </a>
              <% };%>
          </li>
        </ul>

    <center> <div id="myData"> </div> </center>
    <center> <div id="myData2"> </div> </center>
    <center> <div id="mySubmit"> </div> </center>
    <section class="pricing py-5">
        <div class="container">
            <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Light</h5>
                    <h6 class="card-price text-center">$0</h6>
                    <hr>
                    <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Hand baggage only (12 kg). *Allowance for flights operated by KLM or Air France, other airlines may have different hand baggage rules.</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Let's Travel card members earn 5 XP Points</li>

                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Cancellation is not possible</li>
                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Rebooking is not possible</li>
                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>No refund if you missed your flight</li>
                    </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase" id="0" onclick="displaySubmit(this.id)">Button</a>
                </div>
                </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">STANDAR</h5>
                    <h6 class="card-price text-center">50 EUROS</h6>
                    <hr>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1 hand baggage item and 1 accessory (12 kg total) and 1 check-in baggage item(s) (23 kg each) included</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Let's Travel card members earn 5 XP Points</li>
    
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Cancellation is not possible</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Rebooking is not possible</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>No refund if you missed your flight</li>
                        </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase" id="50" onclick="displaySubmit(this.id)">Button</a>
                </div>
                </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">FLEX</h5>
                    <h6 class="card-price text-center">100 EUROS</h6>
                    <hr>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1 hand baggage item and 1 accessory (12 kg total) and 1 check-in baggage item(s) (23 kg each) included</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Let's Travel card members earn 5 XP Points</li>
    
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Refund if you decide to cancel</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Change fee EUR 0 + fare difference</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Refund if you missed your flight</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Take an earlier or later flight</li>
                    </ul>
                    <a href="#" class="btn btn-block btn-primary text-uppercase" id="100" onclick="displaySubmit(this.id)">Button</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        
    </section>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>

var roundTrip = localStorage.getItem('allerRetour');

function displaySubmit(clicked_id){
  var priceRetour = 0;
  if (roundTrip){
    priceRetour = totalPrice2;
  }
  var price = totalPrice + priceRetour;
  if(clicked_id !== 0){
    price += Number(clicked_id);
  }

  document.getElementById("1").style.display = "block";
  document.getElementById("myPrice").innerHTML =  Math.round(price) + " EUR" ;
  var updatePrice = price;
  localStorage.setItem('totalPrice', updatePrice);

  var option = '';
  if (clicked_id == 0){
    option = 'basic';
  } else if (clicked_id == 9){
    option = 'plus';
  } else {
    option = 'business'
  }
  localStorage.setItem('option', option);
}

var ticketData = JSON.parse(localStorage.getItem('ticket'));



var mainContainer = document.getElementById("myData");
var div = document.createElement("div");


if (ticketData[ticketData.length-1]){

  var origCity = ticketData[0];
var destCity = ticketData[2];
var totalPrice = ticketData[16];
var depDate = ticketData[6];
var arrDate = ticketData[7];
var duration = ticketData[17];

  var origCity2 = ticketData[8];  
  var destCity2 = ticketData[10];
  var arrDate2 = ticketData[14]; 
  var depDate2 = ticketData[15];


  div.innerHTML = `
    
  <div class="divOffer">
  <div class="row">
    <div class="col s12 m6 l2"> </div>
    <div class="col s12 m4 l8"> </div>
    <div class="col s12 m4 l2"> </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3"><h5> Air France </h5></div>
    <div class="col s12 m6 l3"><h5> ${origCity} </h5></div>
    <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
    <div class="col s12 m6 l3"><h5> ${destCity} </h5></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"> ${depDate} </div>
    <div class="col s11 m6 l3">${arrDate}</div>
  </div> 

  <div class="divOffer">
  <div class="row">
    <div class="col s12 m6 l2"> </div>
    <div class="col s12 m4 l8"> </div>
    <div class="col s12 m4 l2"> </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3"><h5> Air France </h5></div>
    <div class="col s12 m6 l3"><h5> ${origCity2} </h5></div>
    <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
    <div class="col s12 m6 l3"><h5> ${destCity2} </h5></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"><h5> ${totalPrice} EUR </h5></div>
    <div class="col s12 m6 l3"> ${depDate2} </div>
    <div class="col s11 m6 l3">${arrDate2}</div>
    <div class="col s12 m6 l3"> ${duration} </div>
  </div> 

`;
    mainContainer.appendChild(div);



} else {

  var origCity = ticketData[2];
var destCity = ticketData[0];
var totalPrice = ticketData[8];
var depDate = ticketData[7];
var arrDate = ticketData[6];
var duration = ticketData[9];
  
div.innerHTML = `
    
  <div class="divOffer">
  <div class="row">
    <div class="col s12 m6 l2"> </div>
    <div class="col s12 m4 l8"> </div>
    <div class="col s12 m4 l2"> </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3"><h5> Air France </h5></div>
    <div class="col s12 m6 l3"><h5> ${destCity} </h5></div>
    <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
    <div class="col s12 m6 l3"><h5> ${origCity} </h5></div>
  </div> 

  <div class="row">
    <div class="col s12 m6 l3"><h5> ${totalPrice} EUR </h5></div>
    <div class="col s12 m6 l3"> ${depDate} </div>
    <div class="col s11 m6 l3">${arrDate}</div>
    <div class="col s12 m6 l3"> ${duration} </div>
  </div> 

`;
    mainContainer.appendChild(div);
  }

      
if (roundTrip){

  var ticketDataRetour = JSON.parse(localStorage.getItem('ticketRetour'));

  var origCity2 = ticketDataRetour[0];
  var destCity2 = ticketDataRetour[2];
  var totalPrice2 = ticketDataRetour[8];
  var depDate2 = ticketDataRetour[6];
  var arrDate2 = ticketDataRetour[7];
  var duration2 = ticketDataRetour[9];
    

var mainContainer2 = document.getElementById("myData2");
var div2 = document.createElement("div");


if (ticketDataRetour[ticketDataRetour.length-1]){

var origCity3 = ticketData[8];  
var destCity3 = ticketData[10];
var arrDate3 = ticketData[14]; 
var depDate3 = ticketData[15];


div.innerHTML = `
  
<div class="divOffer">
    <div class="row">
      <div class="col s12 m6 l2"> </div>
      <div class="col s12 m4 l8"> </div>
      <div class="col s12 m4 l2"> </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l3"><h5> Air France </h5></div>
      <div class="col s12 m6 l3"><h5> ${destCity2} </h5></div>
      <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
      <div class="col s12 m6 l3"><h5> ${origCity2} </h5></div>
    </div> 

    <div class="row">

      <div class="col s12 m6 l3"> ${depDate2} </div>
      <div class="col s11 m6 l3">${arrDate2}</div>

    </div> 

    <div class="divOffer">
    <div class="row">
      <div class="col s12 m6 l2"> </div>
      <div class="col s12 m4 l8"> </div>
      <div class="col s12 m4 l2"> </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l3"><h5> Air France </h5></div>
      <div class="col s12 m6 l3"><h5> ${origCity3} </h5></div>
      <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
      <div class="col s12 m6 l3"><h5> ${destCity3} </h5></div>
    </div> 

    <div class="row">
      <div class="col s12 m6 l3"><h5> ${totalPrice3} EUR </h5></div>
      <div class="col s12 m6 l3"> ${depDate3} </div>
      <div class="col s11 m6 l3">${arrDate3}</div>
      <div class="col s12 m6 l3"> ${duration3} </div>
    </div> 
`;
  mainContainer.appendChild(div);



} else {

  div2.innerHTML = `
      
    <div class="divOffer">
    <div class="row">
      <div class="col s12 m6 l2"> </div>
      <div class="col s12 m4 l8"> </div>
      <div class="col s12 m4 l2"> </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l3"><h5> Air France </h5></div>
      <div class="col s12 m6 l3"><h5> ${origCity2} </h5></div>
      <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
      <div class="col s12 m6 l3"><h5> ${destCity2} </h5></div>
    </div> 

    <div class="row">
      <div class="col s12 m6 l3"><h5> ${totalPrice2} EUR </h5></div>
      <div class="col s12 m6 l3"> ${depDate2} </div>
      <div class="col s11 m6 l3">${arrDate2}</div>
      <div class="col s12 m6 l3"> ${duration2} </div>
    </div> 

   

  `;
      mainContainer2.appendChild(div2);
  }

}

  var mainContainer3 = document.getElementById("mySubmit");
  var div3 = document.createElement("div");
  div3.innerHTML = `
    <div class="col s12 m6 l3" id="myPrice"> </div>
    <a href="/passengerData" <div class="col s12 offset-s10"><button class="btn-small waves-effect waves-light" id="1" type="submit" style="display:none;"> Submit <i class="material-icons right">send</i></button></div></a>
  `;
  mainContainer3.appendChild(div3);
      
    </script>
  </body>
</html>
