<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="public/styles/style.css">

    <style>
      /* div ticket */

      #footer {
        margin-top: 500px;
      } 
      #pageContent{
        margin-top: 100px; 
      }
      #testTable{
          height : 100px;
      }

      body {
        font-family: sans-serif;
        color: #333;
        margin: 0;
        }

      img {
        max-width: 100%;
        height: auto;
      }

      .app-title {
        text-align: center;
        font-weight: normal;
        font-size: 2.6rem;
      }

      .divOffer {
        max-width: 850px;
        padding: 20px;
        margin: 30px auto;
        background-color: #dedede;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }

      .divOffer h4 {
        margin: 0 0 6px 0;
      }

      .flightLogo {
        float: left;
        width: 15%;
        margin-right: 15px;
      }
    </style>
    <title>Let's Travel</title>
    </head>
    
    <body id="passengerData" class="scrollspy">
      <!-- Navbar -->
      <div class="navbar-fixed">
        <nav class="blue">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Let's Travel</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a href="/#search">Search</a>
                </li>
                <li>
                  <a href="/#popular">Popular distinations</a>
                </li>
                <li>
                  <a href="/#gallery">Gallery</a>
                </li>
                <li>
                  <a href="/#contact">Contact</a>
                </li>
                <li>
                    <a href="/aboutUs">About US</a>
                </li>
                <% if (logout) { %>
                  <li>
                      <a href="/profile"> profile </a>
                  </li>
                <% }  %>
                <li>
                  <% if (logout) { %>
                    <a href="/logout"> Logout </a>
                    <% } else { %>
                    <a href="/login"> Sign In </a>
                    <% }%>
                  <!-- <a href="Login_page/login.html">Login/Sign in</a> -->
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
        <ul class="sidenav" id="mobile-nav">
          <li>
            <a href="/#search">Search</a>
          </li>
          <li>
            <a href="/#popular">Popular distinations</a>
          </li>
          <li>
            <a href="/#gallery">Gallery</a>
          </li>
          <li>
            <a href="/#contact">Contact</a>
          </li>
          <li>
              <a href="/aboutUs">About US</a>
          </li>
          <% if (logout) { %>
            <li>
                <a href="/profile"> profile </a>
            </li>
          <% }  %>
          <li>
            <% if (logout) { %>
              <a href="/logout"> Logout </a>
              <% } else { %>
              <a href="/login"> Sign In </a>
              <% };%>
          </li>
        </ul>
        

    <section id="contact" class="section section-contact scrollspy">

      <div class="row">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
          <div class="card-panel blue white-text center">
            <h5>informations</h5>
            <p>
              Please add the email address and phone number of the passengers. We use this data in case of disturbances, 
              in order to be able to send a notification to all passengers included in this reservation. The data is not used for any other purpose.
              <br>Thank you
            </p>
          </div>
        </div>
        <div class="col s12 m4 l2"></div>
      </div>
      <% var a = nbrPassenger %>
      <% for(var i=0; i<a ; i++) { %>
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">person</i>Passenger</div>
                <div class="collapsible-body">
                  <span>
                      <div class="container">
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <dev class="card-content grey lighten-3">
                              <form action="/passengerData/passenger" method="POST">
                                <h5>Please fill out this form</h5>
                                <div class="input-field">
                                  <i class="material-icons prefix">account_circle</i>
                                  <input type="text" placeholder="First Name" name="firstName" required>
                                </div>
                                <div class="input-field">
                                  <i class="material-icons prefix">account_circle</i>
                                  <input type="text" placeholder="Last Name" name="lastName" required>
                                </div>
                                <div class="input-field">
                                  <i class="material-icons prefix">email</i>
                                  <input type="text" placeholder="Email" name="email" required>
                                </div>
                                <div class="input-field">
                                  <i class="material-icons prefix">email</i>
                                  <input type="email" placeholder="Confirm Email" name="confirmEmail" required>
                                </div>
                                <div class="input-field">
                                  <i class="material-icons prefix">flag</i>
                                  <input type="text" placeholder="Nationality" name="nationality" required>
                                </div>
                                <div class="input-field">
                                  <i class="material-icons prefix">passport</i>
                                  <input type="text" placeholder="Passport N°" name="passport" required>
                                </div>
                                <div class="input-field">
                                  <i class="material-icons prefix">cake</i>
                                  <input type="text" placeholder="Date Of Birth" name="birthday" required>
                                </div>
                                <div class="input-field">
                                  <i class="material-icons prefix">phone</i>
                                  <input type="text"  placeholder="Phone" name="phone" required>
                                </div>
                                <i class="material-icons prefix" id="check_<%= i %>" style="display:none;">check_circle</i>
                                <input type="submit" value="Submit" id="<%= i %>" onclick="submitFunction(this.id)" class="btn blue">
                              </form>
                            </dev>
                          </div>
                        </div>
                      </div>
                  </span>
                </div>
              </li>
            </ul> 
          </div>
        </div>
      </div>
      <% } %>
      <form action="/payment" method="POST">
      </div>
      <input type="submit" value="Submit" class="btn blue" style="margin-left: 78%">
    </dev>
      </form>
      <center><div id="myData"> </div></center>
      <center><div id="myData2"> </div></center>
    </section>
   
        
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    //Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    // Scrollspy
    const scrollSpy = document.querySelectorAll('.scrollspy');
    M.ScrollSpy.init(scrollSpy, {});

    // Collapsible =
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems);
    });

  var ticketData = JSON.parse(localStorage.getItem('ticket'));
  var roundTrip = localStorage.getItem('allerRetour');

  var origCity = ticketData[2];
  var destCity = ticketData[0];
  var totalPrice = ticketData[8];
  var depDate = ticketData[7];
  var arrDate = ticketData[6];
  var duration = ticketData[9];



  var mainContainer = document.getElementById("myData");
  var div = document.createElement("div");
        div.innerHTML = `
    
  <div class="divOffer">
  <div class="row">
    <div class="col s12 m6 l2"> </div>
    <div class="col s12 m4 l8"> </div>
    <div class="col s12 m4 l2"> </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3"><h5> Air France </h5></div>
    <div class="col s12 m6 l3"><h5> ${origCity} </h5></div>
    <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
    <div class="col s12 m6 l3"><h5> ${destCity} </h5></div>
  </div> 

      `;

    mainContainer.appendChild(div);

      
    function submitFunction(clicked){
      var checkId = "check_" + clicked;
      // document.getElementById(clicked).style.display = "none";
      // document.getElementById(checkId).style.display = "block";

      $(function(){
        $('#test').on('submit', function(){
          $.ajax({
            url: '/passengerData/passenger',
            type : 'POST',
            success: function(response){
              document.getElementById(clicked).style.display = "none";
              document.getElementById(checkId).style.display = "block"},
              error  : function() { console.log('ERROR data passenger');}
            })
          })
        })
      }
      
      if (roundTrip){

var ticketDataRetour = JSON.parse(localStorage.getItem('ticketRetour'));

var origCity2 = ticketDataRetour[2];
var destCity2 = ticketDataRetour[0];
var totalPrice2 = ticketDataRetour[8];
var depDate2 = ticketDataRetour[7];
var arrDate2 = ticketDataRetour[6];
var duration2 = ticketDataRetour[9];
  

var mainContainer2 = document.getElementById("myData2");
var div2 = document.createElement("div");
div2.innerHTML = `
    
  <div class="divOffer">
  <div class="row">
    <div class="col s12 m6 l2"> </div>
    <div class="col s12 m4 l8"> </div>
    <div class="col s12 m4 l2"> </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3"><h5> Air France </h5></div>
    <div class="col s12 m6 l3"><h5> ${origCity2} </h5></div>
    <div class="col s11 m6 l3"><h5>  <i class="fas fa-arrow-right"></i> </h5></div>
    <div class="col s12 m6 l3"><h5> ${destCity2} </h5></div>
  </div> 
`;
    mainContainer2.appendChild(div2);
}
    </script>
  </body>
</html>
