<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="public/styles/style.css">
        <title>Let's Travel</title> 
    </head>
    
    <body id="home" class="scrollspy">
      <!-- Navbar -->
      <div class="navbar-fixed">
        <nav class="blue">
          <div class="container">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Let's Travel</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a href="#search">Search</a>
                </li>
                <li>
                  <a href="#popular">Popular distinations</a>
                </li>
                <li>
                  <a href="#gallery">Gallery</a>
                </li>
                <li>
                  <a href="#contact">Contact</a>
                </li>
                <li>
                    <a href="/aboutUs">About US</a>
                </li>
                <% if (logout) { %>
                  <li>
                      <a href="/profile"> profile </a>
                  </li>
                <% }  %>
                <li>
                  <% if (logout) { %>
                    <a href="/logout"> Logout </a>
                    <% } else { %>
                    <a href="/login"> Sign In </a>
                    <% }%>
                  <!-- <a href="Login_page/login.html">Login/Sign in</a> -->
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-nav">
        <li>
          <a href="#search">Search</a>
        </li>
        <li>
          <a href="#popular">Popular distinations</a>
        </li>
        <li>
          <a href="#gallery">Gallery</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <li>
          <a href="/aboutUs">About US</a>
        </li>
        <% if (logout) { %>
        <li>
            <a href="/profile"> profile </a>
        </li>
        <% }  %>
        <li>
          <% if (logout) { %>
            <a href="/logout"> Logout </a>
            <% } else { %>
            <a href="/login"> Sign In </a>
            <% }%>
        </li>
      </ul>

      <div class="parallax-container">
        <div class="parallax"><img src="/images/architecture2.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header">Profile user</h2>
          
          <section id="contact" class="section section-contact scrollspy">
              
                <div class="container">
                  <div class="row">
                    <div class="col s12 m6">

                        <dev class="card-content grey lighten-3">
                          <form action="/updateProfile" method="POST">
                            <h5>Please fill out this form</h5>
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" placeholder="Firstname" value="<%=data.firstName%>" name="firstname" required>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" placeholder="Lastname" value="<%=data.lastName%>" name="lastname" required>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                <input type="email" placeholder="Email" value="<%=data.email%>" name="email" required>
                            </div>
                            <div class=" input-field ">
                                <i class="material-icons prefix ">phone</i>
                                <input type="text " placeholder="phone" value="0767046767" name="phone1 " required>
                            </div>
                            <button type="submit"  class="btn blue "> Submit </button>
                            </form>
                            <div class="alert alert-warning alert-dismissible show " id="messageErr " role="alert " style="color: red; margin-top: 10px "> </div>
                        </dev>


                    </div>
                  </div>
                </div>
             
            </section>

        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="/images/cafe.jpg"></div>
      </div>


   <div class="parallax-container">
        <div class="parallax"><img src="/images/cafe.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header">Let's travel</h2>
          <p class="grey-text text-darken-3 lighten-3"> <p class="folw-text">Let's Travel &copy; 2019</p> </p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="/images//hamburg.jpg"></div>
      </div>        

          <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      //Sidenav
      const sideNav = document.querySelector('.sidenav');
      M.Sidenav.init(sideNav, {});

      // Material Boxed

      const mb = document.querySelectorAll('.materialboxed');
      M.Materialbox.init(mb, {});

      // Scrollspy

      const scrollSpy = document.querySelectorAll('.scrollspy');
      M.ScrollSpy.init(scrollSpy, {});

      // parallax 

      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });

    </script>
    </body>
</html>