<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   
    <img src="../../../assets/icon/Lets_traval.png">
  <div class="btn">

  <ion-button id="historique" expand="block" size="large" (click)="openHistorique()">Historique</ion-button>
  <ion-button id="preparation" expand="block" size="large" (click)="openVoyage()">Preparation voyage</ion-button>
</div>
</ion-content>
