<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Historique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



    <div class="btn">
        <ion-button id="historique" expand="block" size="large" (click)="openBillet()">Billet</ion-button>
        
      </div>

    
      <!-- <p *ngIf="ticketList">{{ticketList.email}}</p>
      <p *ngIf="ticketList">{{ticketList.id}}</p> -->
<div *ngIf="ticketList">     
  <div *ngFor="let mem of ticketList"> 
     <p> DEPART :  {{mem.depart}} </p>
     <p> DESTINATION : {{mem.distination}} </p>
     <p> PRIX : {{mem.prix}} </p>
     <p> DATE DE DEPART : {{mem.dateDepart}} </p>
    <p>  DATE D'ARRIVEE : {{mem.dateArrivee}} </p>
    
  <p> ----------------------------------------------------------------</p>
</div>




</div>

  
</ion-content>
