
.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: white 3px solid !important;
}

#search {
    margin-top: 10px;
}

.slider {
   margin-top: 10px;
}