<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Preparation  voyage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="btn">
        <ion-button id="historique" expand="block" size="large" (click)="prepa()">Meteo</ion-button>
    </div>
    
      <p *ngIf="meteoData"> Température :  {{meteoData.temp.main.temp}}</p>
      <p *ngIf="meteoData"> Temprérature min :  {{meteoData.temp.main.temp_min}}</p>
      <p *ngIf="meteoData"> température max:  {{meteoData.temp.main.temp_max}}</p>
      <p *ngIf="meteoData"> humidité:  {{meteoData.temp.main.humidity}}</p>
      <div *ngIf="meteoData.temp.main.temp > 20">  la température dépasse les 20°
          <div id="list">
              <h5> Veuillez donc :</h5>
              <ul>
                <li>Prévoir une ou plusieurs bouteilles d'eau</li>
                <li>Buvez régulièrement de l’eau</li>
                <li>Évitez les efforts physiques</li>
                <li>des vêtements légers</li>
              </ul>
            </div>
        
      </div>

      <div *ngIf="meteoData.temp.main.temp < 20">  la température est en-dessous de 20°, la température rique de baisser.
          <div id="list">
              <h5> Veuillez donc :</h5>
              <ul>
                <li> Prévoir des :  pantalons , gans et au moins un monteau/veste </li>
                <li>des chemise épaisse</li>
                <li>Évitez les efforts physiques</li>
              </ul>
            </div>
        
      </div>




      <!-- <p *ngIf="ticketList2">{{ticketList2}}</p> -->


<!-- <div *ngIf="ticketList">     
  <div *ngFor="let mem of ticketList"> 
     <p> DEPART :  {{mem}} </p> -->

    
 



</ion-content>
